html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#info {
  text-align: center; /* Center the text inside the div */
  margin-top: 20px; /* Adjust the space between the canvas and the div */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
